[python: api/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: cli/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: core/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: gui/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: recorder/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: scheduler/**.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: main.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: config.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2

[python: exceptions.py]
encoding = utf-8
keywords = _ gettext ngettext:1,2 pgettext:1c,2 npgettext:1c,2,3 lazy_gettext lazy_pgettext:1c,2
